body 
  overflow-x hidden
  word-wrap break-word
  background-color #fff
  -webkit-font-smoothing antialiased
  font-family "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

.clearfix:after
  content: ""; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
clan = #013F7D // 蓝色
chui = #72716F // 灰色
cbai = #ffffff // 白色